/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


.brand-name {
  font-family: 'Fredoka One', cursive;
  font-size: 1.0rem;

}

.job-index-location {
  font-size: 0.8rem;
}

.job-index-created {
  font-size: 0.8rem;
}

 .job-listing {
   background: #e8fafd;
   margin-bottom: 10px;
   border-bottom: 0px solid #aaa;
   padding: 10px 5px 5px 5px;
 }

 .job-title {
   margin-bottom: 0px;
 }

 .latest-jobs {
   padding-top: 10px;
   padding-bottom: 10px;
 }

 .users-show {
   margin-top: 20px;
 }

 .users-bio {
   background: #f7f7f7;
   padding: 10px 0px 10px 0px;
 }

 .my-pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .my-pagination a, .my-pagination span, .my-pagination em {
    padding: 0.2em 0.5em; }
  .my-pagination .disabled {
    color: #aaaaaa; }
  .my-pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .my-pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .my-pagination a:hover, .my-pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .my-pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .my-pagination .previous_page, .my-pagination .next_page {
    border-width: 2px; }
  .my-pagination .previous_page {
    margin-right: 1em; }
  .my-pagination .next_page {
    margin-left: 1em; }


.upgrade-view {
  text-align: center;
}

.upgrade-view li {
  list-style-type: none;
}



 @import url('https://fonts.googleapis.com/css?family=Fredoka+One');

 @import "bootstrap";
