/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

.job-index-location {
  font-size: 0.8rem;
}

.job-index-created {
  font-size: 0.8rem;
}

 .job-listing {
   background: #e8fafd;
   margin-bottom: 10px;
   border-bottom: 0px solid #aaa;
   padding: 10px 5px 5px 5px;

 }

 .job-title {
   margin-bottom: 0px;
 }

 .latest-jobs {
   padding-top: 10px;
   padding-bottom: 10px;
 }




 @import "bootstrap";
